 /* Home Page CSS file  */
.home-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #fdfdfd;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.home-title {
  text-align: center;
  letter-spacing: 10px;
  font-size: 2rem;
  color: #333;
  border:2px solid rgb(47, 78, 88);
  border-radius: 10px;
  background-color: aquamarine;
  margin-bottom: 1.5rem;
}

.empty-feed {
  text-align: center;
  color: #888;
  padding: 2rem;
  border: 2px dashed #5094e8;
  border-radius: 10px;
  background-color: #fafafa;
  font-size: 1.1rem;
}
